@font-face {
    font-family: '양진체';
    src: url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.clock {
    font-family: '양진체', sans-serif;
    font-size: 5rem;
    border: 1px solid gray;
    border-radius: 1rem;
    width: 100%;
    padding: 3rem 0;
    /* 텍스트 선택 방지 */
    user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}